{%extends 'FreelanceFrontOfficeBundle::layout.html.twig' %}



 {% block content %} 
<h1><strong> Mon Profil </strong>Freelancer</h1>



<table class="table table-striped">
    <thead>
   
    <th> nom </th>
    <th> Prenom </th>
    <th> Pays </th>
    <th> Ville </th>
    <th> Pseudo </th>
    
    <th> Mail </th>
    <th>Photo</th>




<thead>

    <td>{{app.user.nom}}</td>
    <td>{{app.user.prenom }}</td>
    <td>{{app.user.pays }}</td>
    <td>{{app.user.ville }}</td>
    <td>{{app.user.pseudo }}</td>
    <td>{{app.user.email }}</td>
    <td> <img  class="img-circle" data-src="{{asset('holder.js/140x140')}}" alt="100x100" style="width: 100px; height: 100px;" src="{{ asset(path('freelance_front_office_AfficherPhotoFreelancer', {'pseudo': app.user.pseudo})) }}"/> 
</td>
  
  <td>
							</td>

                                                        
   </thead>


  
   </table>
 {% endblock %}
    
     {% block header %} 
    <div class="container">
					<h1 class="logo">
						<a href="{{asset('index.html')}}">
							<img alt="Porto" src="{{asset('img/logo.png')}}">
						</a>
					</h1>
					<div class="search">
						<form class="form-search" id="searchForm" action="page-search-results.html" method="get">
							<div class="control-group">
								<input type="text" class="input-medium search-query" name="q" id="q" placeholder="Search...">
								<button class="search" type="submit"><i class="icon-search"></i></button>
							</div>
						</form>
					</div>
					<nav>
						<ul class="nav nav-pills nav-top">
							<li>
								<a href="about-us.html"><i class="icon-angle-right"></i>About Us</a>
							</li>
							<li>
								<a href="contact-us.html"><i class="icon-angle-right"></i>Contact Us</a>
							</li>
							<li class="phone">
								<span><i class="icon-phone"></i>(123) 456-7890</span>
							</li>
						</ul>
					</nav>
					<div class="social-icons">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
						</ul>
					</div>
					<nav>
						<ul class="nav nav-pills nav-main" id="mainMenu">
							<li class="dropdown">
								<a class="dropdown-toggle" href="index.html">
									Home
									<i class="icon-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="index.html">Revolution Slider</a></li>
									<li><a href="index-2.html">Nivo Slider</a></li>
								</ul>
							</li>
							<li>
								<a href="about-us.html">About Us</a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Mon Cv
									<i class="icon-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									{% for m in membre %}
                                                                    <li><a href="{{path('freelance_front_office_AfficherCvFreelancer', {pseudo:m.pseudo} )}}"> </a></li>
								{% endfor %}	
                                                                    <li><a href="feature-pricing-tables.html">Pricing Tables</a></li>
									<li><a href="feature-icons.html">Icons</a></li>
									<li><a href="feature-elements.html">Elements</a></li>
									<li><a href="feature-typograpy.html">Typograpy</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Portfolio
									<i class="icon-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="portfolio-2-columns.html">2 Columns</a></li>
									<li><a href="portfolio-3-columns.html">3 Columns</a></li>
									<li><a href="portfolio-4-columns.html">4 Columns</a></li>
									<li><a href="portfolio-single-project.html">Single Project</a></li>
								</ul>
							</li>
							<li class="dropdown active">
								<a class="dropdown-toggle" href="#">
									Pages
									<i class="icon-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="page-full-width.html">Full width</a></li>
									<li><a href="page-left-sidebar.html">Left sidebar</a></li>
									<li><a href="page-right-sidebar.html">Right sidebar</a></li>
									<li><a href="page-custom-header.html">Custom Header</a></li>
									<li><a href="page-404.html">404 Error</a></li>
									<li><a href="page-team.html">Team</a></li>
									<li><a href="page-services.html">Services</a></li>
									<li><a href="page-careers.html">Careers</a></li>
									<li><a href="page-faq.html">FAQ</a></li>
									<li><a href="sitemap.html">Sitemap</a></li>
								</ul>
							</li>
							<li>
								<a href="contact-us.html">Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>

  {% endblock %}