{%extends 'FreelanceFrontOfficeBundle::layout.html.twig' %}

 {% block content %} 
<div class="container">

					<div class="row">

<div class="span6">

    <div class="alert alert-success hidden" id="contactSuccess">
        <strong>Success!</strong> Your message has been sent to us.
    </div>

    <div class="alert alert-error hidden" id="contactError">
        <strong>Error!</strong> There was an error sending your message.
    </div>

    <h2 class="short"><strong>Ajouter Un Projet</strong></h2>
    <form action="" id="contactForm" method="post">
        <div class="row controls">
            <div class="span6 control-group">


                <label>Titre</label>
                {{ form_widget(form.titre_p) }}


                <label >Categorie</label>
                {{ form_widget(form.categorie_p) }}


                <label >Duree en semaine</label>
                {{ form_widget(form.duree_p) }}


                <label >Description </label>
                {{ form_widget(form.description_p) }}

<br/>
                <div class="btn-toolbar">
                    <input type="submit" value="Ajouter Mon Projet" class="btn btn-primary btn-large" data-loading-text="Loading...">

                </div>
            </div>
                      {{ form_rest(form)}}

    </form>
</div>   </div>
            </div> </div>

 {% endblock %} 