{%extends 'FreelanceFrontOfficeBundle::layout.html.twig' %}

 {% block content %} 
<div class="container">

					<div class="row">
<div class="span6">

    <div class="alert alert-success hidden" id="contactSuccess">
        <strong>Success!</strong> Your message has been sent to us.
    </div>

    <div class="alert alert-error hidden" id="contactError">
        <strong>Error!</strong> There was an error sending your message.
    </div>

    <h2 class="short"><strong>Envoyer</strong> Candidature</h2>
    <form  id="contactForm" method="post">
        <div class="row controls">
            <div class="span3 control-group">
                <label>{{form_label(formCandidature.estimation)}}</label>
                               {{ form_widget(formCandidature.estimation) }}



                <label>{{form_label(formCandidature.lettre_mot)}}</label>
                {{ form_widget(formCandidature.lettre_mot) }}
                <label >{{form_label(formCandidature.question)}}</label>
                {{ form_widget(formCandidature.question) }}



                <div class="btn-toolbar">
                    <input type="submit" value="Ajouter Candidature" class="btn btn-primary btn-large" data-loading-text="Loading...">
								 {{ form_rest(formCandidature)}}
                </div>
            </div>  </div>
    </form>
</div>  </div>  </div>


 {% endblock %} 