

    <table  class="table table-striped">
        <tbody>
{% for t in test %}
            <tr>
                <th>Nom</th>
                <td>{{ test.nom }}</td>
            </tr>
            <tr>
                <th>Question1</th>
                <td>{{ test.question1 }}</td>
            </tr>
            <tr>
                <th>Reponse1</th>
                <td>{{ test.reponse1 }}</td>
            </tr>
            <tr>
                <th>Question2</th>
                <td>{{ test.question2 }}</td>
            </tr>
            <tr>
                <th>Reponse2</th>
                <td>{{ test.reponse2 }}</td>
            </tr>
            <tr>
                <th>Question3</th>
                <td>{{ test.question3 }}</td>
            </tr>
            <tr>
                <th>Reponse3</th>
                <td>{{ test.reponse3 }}</td>
            </tr>
            <tr>
                <th>Question4</th>
                <td>{{ test.question4 }}</td>
            </tr>
            <tr>
                <th>Reponse4</th>
                <td>{{ test.reponse4 }}</td>
            </tr>
            <tr>
                <th>Question5</th>
                <td>{{ test.question5 }}</td>
            </tr>
            <tr>
                <th>Reponse5</th>
                <td>{{ test.reponse5 }}</td>
            </tr>
            <tr>
                <th>Question6</th>
                <td>{{ test.question6 }}</td>
            </tr>
            <tr>
                <th>Reponse6</th>
                <td>{{ test.reponse6 }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
        <ul class="record_actions">
   
    
 
</ul>
